/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
**/logs-You can prepend a pattern with a double asterisk to match directories anywhere in the repository.
debug.log-By default, patterns match files in any directory